@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }

/* ----------------------- TOP-LINE -----------------------*/
.logo {
    margin-right: 76px;
}
.contact {
    display: flex;
    align-items: center;
}

/* --------------------------HERO------------------------- */
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-ground {
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-ground {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bcg_desktop-2x.jpg);
    }
}
.main-title {
    margin: 0 auto 48px;
}

.works {
    display: block;
}

  /* ----------------------ADVANTAGES--------------------- */
.advantages {
    padding-top: 120px;
     }
.picture-adv {
    display: flex;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    align-items: center;
    }
    .adv-list {
        gap: 24px;
        display: flex;
    }

    .adv-item {
        width: calc((100% - 72px) / 4);
    }

    .title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
/* ------------------ LIST OF DOING--------------------- */
    .works {
        padding-top: 0px;
    }

    .pic-doing {
        display: flex;
        gap: 24px;
        align-items: center;
    }
/* ----------------------------TEAM--------------------- */
    .team {
        padding-top: 120px;
     }
    .card-general {
        flex-wrap: nowrap;
        gap: 24px;
    }

/* ---------------------- CUSTOMERS ------------------- */
    .customers {
        padding-top: 130px;
        width: 1128px;
            }
    .company {
        width: calc((100% - 120px) / 6);
        }
 
/* ------------------------- FOOTER --------------------- */
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

/*------------------------- first-box --------------------*/
    .three-boxes {
                row-gap: 0;
                    column-gap: 0;
    }

.first-footer-box {
        margin-right: 120px;
    }
    .soc-contacts-footer {
        display: flex;
        gap: 16px;
    }
    .third-footer-box {
        margin-left: auto;
    }

/* ------------------------BACKDROP----------------------- */
.modal {
    top: 50%;
}
}