@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }
    
}
@media screen and (max-width: 480px) {
.second-footer-box {
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 320px) {
    .main-title {
    width: 300px;
    font-size: 32px;
    }
}