/* меньше чем 480 (т.е.для 320) */
@media screen and (max-width: 480px) {
    .main-title {
        width: 280px;
        font-size: 30px;
    }
    .modal {
        width: 320px;
    }
    .logo {
        margin-right: 0;
    }
    
}


/* больше чем 480 */
@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }
        .modal {
            width: 392px;
            padding: 72px 16px 24px;
        }
}

