:root {
    --first-text-color: #434455;
    --second-text-color: #E7E9FC;
    --first-title-color: #FFFFFF;
    --second-title-color: #2E2F42;
    --btn-color: #FFFFFF;
    --first-active-color: #404BBF;
    --second-btn-background: #F4F4FD;
    --first-logo-color: #4D5AE5;
    --second-logo-color: #2E2F42;
    --active-color: #4D5AE5;
    --menu-color: #2E2F42;
    --menu-hover-color: #434455;
    --body-background: #FFFFFF;
    --footer-background: #2E2F42;
    --hero-background: #2E2F42;
    --team-background-color: #F4F4FD;
    --card-background: #FFFFFF;
    --studio-footer-color: #F4F4FD;
    --slate-color: #434455;
    --modal-bc: #FCFCFC;
    --modal-close-bc: #E7E9FC;
    --icon-modal-fill: #2E2F42;
    --border-color: 1px solid #E7E9FC;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: var(--body-background);
    color: var(--slate-color);
}
* {
    box-sizing: border-box;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-bottom: 120px;
    padding-top: 96px;
}
ul {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
button {
    margin: 0;
    padding: 0;
}
.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    cursor: pointer;
}
address {
    font-style: normal;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* ------------- TOP-LINE ----------------*/

.top {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: var(--border-color)
}
.header-container {
padding-top: 24px;
padding-bottom: 24px;
}

.top .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-logo-color);
}
.studio {
    color: var(--second-logo-color);
}
.current {
    color: var(--active-color);
}
.contact {
    display: none;
}

.menu {
    display: none;
}


/* -------------------------HERO------------------- */
.hero {
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.hero-ground {
    background-color: var(--hero-background);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bcg_mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 428px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-ground {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bcg_mob-2x.jpg);
    }
}
.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--first-title-color);
    margin: 0 auto 72px;
    width: 318px;
}
.first-btn,
.button-send,
.subscribe-btn {
    min-width: 169px;
    height: 56px;
    line-height: 1.19;
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--btn-color);
    transition: background-color var(--transition),
        box-shadow var(--transition);
}
.first-btn:hover,
.first-btn:focus,
.button-send:hover,
.button-send:focus,
.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--first-active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* --------------------ADVANTAGES--------------------- */
.advantages {
    padding-top: 96px;
    padding-bottom: 96px;
}
.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.picture-adv {
    display: none;
}
.adv-list {
    gap: 72px;
    display: flex;
    flex-wrap: wrap;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    margin-bottom: 8px;
    text-align: center;
}
.adv-text {
    color: var(--first-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ------------------ LIST OF DOING--------------------- */
.works {
    display: none;
}
/* ------------------TEAM--------------------- */
.team {
    background-color: var(--team-background-color);
    margin-left: auto;
    margin-right: auto;
    padding-top: 96px;
    padding-bottom: 96px;
}
.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
    margin-bottom: 72px;
}
.card-general {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
}
.team-card {
    background-color: var(--card-background);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: 264px;
}
.card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    margin-bottom: 8px;
    text-align: center;
}
.card-title {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
    margin-bottom: 8px;
}
.soc-contacts {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.soc-items {
    width: 40px;
    height: 40px;
}
.soc-link {
    transition: background-color var(--transition);
    width: 100%;
    height: 100%;
    background-color: var(--active-color);
    border-radius: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.soc-icon {
    fill: #F4F4FD;
}
.soc-link:hover,
.soc-link:focus {
    background-color: var(--first-active-color);
}
.space-card {
    padding-top: 32px;
    padding-bottom: 32px;
}

/* --------------------- CUSTOMERS ------------------- */

.customers {
    padding-top: 96px;
}
.customers-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}
.company {
    width: calc((100% - 16px) / 2);
}
.company-link {
    transition: fill var(--transition),
        border var(--transition);
    display: flex;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    fill: #8E8F99;
    height: 88px;
    align-items: center;
    justify-content: center;
}
.company-link:hover,
.company-link:focus {
    fill: var(--first-active-color);
    border: 1px solid var(--first-active-color);
}

/* ------------------- FOOTER --------------------- */
.footer {
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer-ground {
    background-color: var(--footer-background)
}
.three-boxes {
    
}
/* < !------------------------- first-box ------------------------> */

.first-footer-box {
    max-width: 268px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}
.logo-footer {
    display: block;
    text-align: center;
    margin-right: 0;
}
.studio-footer {
    color: var(--studio-footer-color);
}
.text-footer {
    color: var(--second-text-color);
    width: 268px;
    margin-top: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* <!------------------------- second-box ------------------------> */

.title-footer {
    line-height: 1.5;
    color: #FFFFFF;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}
.soc-contacts-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.soc-contacts-footer {
    margin-bottom: 72px;
}
.soc-link-footer {
    transition: background-color var(--transition);
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.soc-link-footer:hover,
.soc-link-footer:focus {
    background-color: #31D0AA;
}

/* < !------------------------- third-box ------------------------> */
.subscribe-input {
    width: 396px;
    height: 40px;
    background-color: var(--footer-background);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    color: #FFFFFF;
    outline: none;
    transition: border var(--transition),
        border-radius var(--transition);
}
.subscribe-input:focus {
    border: 1px solid #31D0AA;
    border-radius: 4px;
}
.subscribe-input::placeholder {
    font-size: 12px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 8px;
}
.subscribe-btn {
    min-width: 165px;
    height: 40px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-flex {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}
.icon-tg {
    fill: #FFFFFF;
    margin-left: 16px;
}

/*-------------- PAGE 2 PORTFOLIO ----------------- */
.filters {
    padding-top: 96px;
}
.filters_btn {
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

/* -------------------- BUTTONS -------------------- */
.second-btn {
    transition: background-color var(--transition),
        box-shadow var(--transition),
        color var(--transition),
        border-color var(--transition);
    line-height: 1.5;
    background-color: var(--second-btn-background);
    border: var(--border-color);
    border-radius: 4px;
    color: var(--active-color);
    padding: 12px 24px;
}
.second-btn:hover,
.second-btn:focus {
    background-color: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--btn-color);
    border-color: var(--active-color);
}

/* ------------------ GALLERY ------------------- */

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.gallery-img {
    background-color: var(--card-background);
    flex-basis: calc((100% - 48px) / 3);
    border: var(--border-color);
}
.gallery-link {
    transition: box-shadow var(--transition);
    display: block;
}
.gallery-link:hover,
.gallery-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.gallery-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
}
.gallery-p {
    padding: 32px 16px;
}
.overlay-general {
    position: relative;
    overflow: hidden;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--active-color);
    left: 0;
    top: 0;
    transform: translateY(100%);
    transition: transform var(--transition);
}
.overlay-text {
    line-height: 1.5;
    color: var(--team-background-color);
    position: absolute;
    left: 32px;
    right: 32px;
    top: 40px;
    overflow: hidden;
}
.gallery-link:hover .overlay,
.gallery-link:focus .overlay {
    transform: translate(0, 0);
    transition: transform var(--transition);
}
/* ---------------------------BACKDROP------------------------------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition);
    overflow-y: scroll;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(0);
}

.modal {
    position: absolute;
    top: 75%;
    left: 50%;
    background-color: var(--modal-bc);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition);
    width: 310px;
    padding: 72px 16px 24px;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--modal-close-bc);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition),
        fill var(--transition);
}

.modal-close:hover,
.modal-close:focus,
.modal-close:active {
    background-color: var(--first-active-color);
    fill: var(--btn-color);
}

.modal-close-cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------FORMS---------------------- */
.modal-title {
    font-weight: 500;
    color: var(--second-title-color);
    text-align: center;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.form-field {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.form-label {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.form-label {
    margin-bottom: 4px;
}
.form-input {
    padding-left: 38px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: var(--modal-bc);
    outline: none;
    transition: border var(--transition),
        border-radius var(--transition);
}
.icon-set {
    outline: none;
    display: block;
    position: relative;
    transition: fill var(--transition);
}
.parent {
    position: relative;
    margin-bottom: 8px;
}
.icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.form-field:focus-within>.icon-set {
    fill: var(--active-color);
}
.form-input:focus {
    border: 1px solid var(--active-color);
    border-radius: 4px;
}

/* ---------------COMMENT----------------- */
.textarea-form {
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: var(--modal-bc);
    transition: border var(--transition),
        border-radius var(--transition);
}
.textarea-form:focus {
    border: 1px solid var(--active-color);
    border-radius: 4px;
    outline: none;
}
.textarea-form::placeholder {
    color: rgba(117, 117, 117, 0.5);
    letter-spacing: 0.04em;
    line-height: 1.33;
    font-size: 12px;
}

/* ---------------CHECKBOX--------------- */
.check-label {
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    margin-top: 16px;
    margin-bottom: 24px;
}
.checkbox {
    min-width: 16px;
    min-height: 16px;
    margin-right: 8px;
    background-image: url(../images/Checkbox.svg);
    background-color: var(--modal-bc);
    cursor: pointer;
    transition: background-image var(--transition);
    display: block;
}
.check-input:checked+.checkbox {
    background-image: url(../images/Active-checkbox.svg);
}
.agreement {
    outline: none;
    margin-left: 3px;
    color: var(--active-color);
}

/* -------------------BUTTON-SEND---------------- */
.button-modal {
    display: flex;
    justify-content: center;
}
.button-send {
    outline: none;
}
/* -------------------MENU-MOBILE---------------- */
